@page "{id}"
@model Venier.Library.Web.Pages.Books.DetailsModel
@{
    ViewData["Title"] = "Details";
}

    <div class="card">
        <div class="card-header">
            <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.Book.Author</div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <div class="card-info">
                    <div class="h6 mb-0  text-gray-800">@Model.Book.Description</div>
                    <br />
                    <div class="h6 mb-0  text-gray-600">Published date: @Model.PublishedDate</div>
                    <div class="h6 mb-0  text-gray-600">Genre: @Model.Genre.Description</div>
                    @if (Model.History != null)
                    {
                        <br />
                        <div class="history-table">
                            <div class="h6 mb-0 font-weight-bold text-gray-800  text-uppercase" style="padding:5px;">Read history</div>
                            <table>
                                <tr>
                                    <th class="date"><div class="h6 mb-0 font-weight-bold text-gray-800">Starting date</div></th>
                                    <th class="date"><div class="h6 mb-0 font-weight-bold text-gray-800">Ending date</div></th>
                                    <th><div class="h6 mb-0 font-weight-bold text-gray-800">Note</div></th>
                                </tr>
                                @foreach (var h in Model.History)
                                {
                            <tr>
                                <td><div class="h6 mb-0  text-gray-600">@h.ReadStart</div></td>
                                <td><div class="h6 mb-0  text-gray-600">@h.ReadEnd</div></td>
                                @if (h.Notes != null)
                                {
                                    <td><div class="h6 mb-0  text-gray-600">@h.Notes</div></td>
                                }
                                else
                                {
                                    <td><i style="font-size:small">No one has left a note.</i></td>
                                }
                            </tr>
                                }
                            </table>
                        </div>
                    }
                    <div class="h6 mb-0  text-gray-600">Creation date: @Model.CreationDate</div>
                </div>

                <div>
                    <img class="card-image" src="~/img/abierto-blanco-y-negro-libro-novela-821139.jpg" alt="Open book" />
                </div>

                <footer class="blockquote-footer">Autore <cite title="Source Title">@Model.Book.Author</cite></footer>
            </blockquote>
        </div>
    </div>


