@page "{id}"
@model Venier.Library.Web.Pages.Books.DetailsModel
@{
    ViewData["Title"] = "Details";
}

    <div class="card">
        <div class="card-header">
            <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.Book.Author</div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <div class="card-info">
                    <div class="h6 mb-0  text-gray-800">@Model.Book.Description</div>
                    <br />
                    <div class="h6 mb-0  text-gray-600">Published date: @Model.PublishedDate</div>
                    <div class="h6 mb-0  text-gray-600">Genre: @Model.Genre.Description</div>
                    @if (Model.History == null)
                    {
                        <!--Aggiungere una tabella in cui è possibile visualizzare lo storico delle letture-->
                        <table>
                            <tr>
                                <th>Start </th>
                                <th>End</th>
                                <th>Note</th>
                            </tr>
                            @foreach (var h in Model.History)
                            {
                                <tr>
                                    <td>@h.ReadStart</td>
                                    <td>@h.ReadEnd</td>
                                    <td>@h.Notes</td>
                                </tr>
                            }
                        </table>
                    }
                    <div class="h6 mb-0  text-gray-600">Creation date: @Model.CreationDate</div>
                </div>

                <div>
                    <img class="card-image" src="~/img/abierto-blanco-y-negro-libro-novela-821139.jpg" alt="Open book" />
                </div>

                <hr />
                <footer class="blockquote-footer">Autore <cite title="Source Title">@Model.Book.Author</cite></footer>
            </blockquote>
        </div>
    </div>


