@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var book in Model.Books)
{
    <h2>@book.Title</h2>
    <h5><i> @book.Author</i> </h5>
    <p>@book.Description</p>
    <a asp-page="Books/Details" asp-route-id="@book.Id"> Vai al libro</a>
    @if (User.Identity.IsAuthenticated)
    {
        <button type="submit" asp-page="Books/Delete" asp-route-id="@book.Id" class="btn btn-dark">Elimina</button>
        <button type="submit" asp-page="Books/Edit" asp-route-id="@book.Id"class="btn btn-dark">Modifica</button>     
    }
    <hr />
}
@*
    TODO:
    - grafica
    - autenticazione
    - inserimento
    - gestione lettura (letto-sto leggendo)
    - gestione valutazioni (stelline)
    - upload file (salvare la copertina di un libro)
    - api rest per funzionalità client (integrazione javascript)
    - cloud con Azure -> sviluppo e pubblicazione
*@