@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var book in Model.Books)
{
    <div class="card">
        <h2>@book.Title</h2>
        <h5><i> @book.Author</i> </h5>
        <p>@book.Description</p>
        <div class="fakebtn">
            <a asp-page="Books/Details" asp-route-id="@book.Id"> Vai al libro</a>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="fakebtn">
                <a asp-page="Books/Delete" asp-route-id="@book.Id">Elimina</a>
            </div>
            <div class="fakebtn">
                <a asp-page="Books/Edit" asp-route-id="@book.Id">Modifica</a>
            </div>
        }
    </div>
}
@*
    TODO:
    - grafica
    - autenticazione
    - inserimento
    - gestione lettura (letto-sto leggendo)
    - gestione valutazioni (stelline)
    - upload file (salvare la copertina di un libro)
    - api rest per funzionalità client (integrazione javascript)
    - cloud con Azure -> sviluppo e pubblicazione
*@